[2019-12-31 22:47] weierophinney opened #1 "Probably an incorrect test case testAuthorityIsPrefixedByDoubleSlashIfPresent in UriTest.php"
Two tests are looking identical despite description. Probably withHost in second case should be replaced by something else.

[code]

---

Originally posted by @Keksov at https://github.com/zendframework/zend-diactoros/issues/381

[2019-12-31 22:47] weierophinney opened #2 "PhpInputStream's getSize function is Wrong!"
reference: https://www.php.net/manual/en/wrappers.php.php
php://input is not support fstat

Supports stat() | php://memory and php://temp only.
-- | --

- [ ] I was not able to find an [open](https://github.com/zendframework/zend-diactoros/issues?q=is%3Aopen) or [closed](https://github.com/zendframework/zend-diactoros/issues?q=is%3Aclosed) issue matching what I'm seeing.
 - [ ] This is not a quest

[2019-12-31 22:47] weierophinney commented on #2
@zhushengwen

[`fstat`](https://www.php.net/fstat) and [`stat`](https://www.php.net/stat) are two different PHP functions.

Can you provide failing test case, please?

---

Originally posted by @michalbundyra at https://github.com/zendframework/zend-diactoros/issues/380#issuecomment-559704878

[2019-12-31 22:47] weierophinney commented on #2
![image](https://user-images.githubusercontent.com/5299147/69861972-6a0fab80-12d4-11ea-8561-e2aacf0c61fb.png)

---

Originally posted by @zhushengwen at https://github.com/zendframework/zend-diactoros/issues/380#issuecomment-559738685

[2019-12-31 22:47] weierophinney commented on #2
@zhushengwen
Please create a pull request with an unit test which illustrates the problem.
It's very hard to reproduce the problem per screenshot. 😉

Thanks in advance!

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-diactoros/issues/380#issuecomment-559756513

[2019-12-31 22:47] weierophinney opened #3 "Can UploadedFile extend SplFileInfo ?"
Is there a particular reason that UploadedFile does not extend SplFileInfo.  The only conflicting interface, which isn't even really a conflict so much is `getSize()` -- would there be any interest in this?  I can do a PR if the interest is there.

I need this feature like yesterday and without it I'm either gonna need to look for an alternative or fork.

---

Originally posted by @mattsah at http

[2019-12-31 22:47] weierophinney commented on #3
@mattsah Send a pull request, and we can evaluate!

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-diactoros/issues/377#issuecomment-551857553

[2019-12-31 22:47] weierophinney commented on #3
#378

---

Originally posted by @mattsah at https://github.com/zendframework/zend-diactoros/issues/377#issuecomment-551968052

[2019-12-31 22:47] weierophinney commented on #3
@weierophinney
The pull request do not pay attention to the different behaviour:

`Psr\Http\Message\StreamInterface` defines the method `getSize()` with a return value of `?int` and `SplFileInfo::getSize` with `int`. And additionally `SplFileInfo::getSize`: "An exception is thrown if the file does not exist or an error occurs."

Long story short: `?int` vs. `int` and exception

---

Reference:

*

[2019-12-31 22:47] weierophinney commented on #3
Another notice from @michalbundyra: (https://3v4l.org/DnSXf)

[code]

This results in:

---

At the moment `SplFileInfo` does not define an explicit return type for `getSize` method but it could become a problem in the future.

---

Originally posted by @froschdesign at https://github.com/zendframework/zend-diactoros/issues/377#issuecomment-553030036

[2019-12-31 22:47] weierophinney commented on #3
@froschdesign

I'm not sure I understand the first point regarding StreamInterface.  That is, I don't see the relevance with respect to UploadedFile.  UploadedFile appears to return ?int (from your own link), null if unknown.  If a stream is passed to UploadedFile, even if it called getSize() directly on the stream, if the return typeof that is always ?int, then it falls within the appropriate ret

[2019-12-31 22:47] weierophinney commented on #3
I have raised other concerns on the related pull request https://github.com/zendframework/zend-diactoros/pull/378#discussion_r345771214.

---

Originally posted by @ADmad at https://github.com/zendframework/zend-diactoros/issues/377#issuecomment-553427581

[2019-12-31 22:47] weierophinney commented on #3
FIG is actually currently voting on by-laws that will allow adding typehints that conform with the already declared signatures (this would be accomplished via a two-tiered approach to allow libraries to create first a forwards-compatible version, and then break BC to adopt all typehints). As such, libraries that provide implementations MUST follow the specified contract.

---

Originally posted by

[2019-12-31 22:47] weierophinney commented on #3
I've submitted a patch to revert the change in #379

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-diactoros/issues/377#issuecomment-553529336

[2019-12-31 22:47] weierophinney commented on #3
@weierophinney

Sure, but adding a typehint of  `?int ` to `getSize()` will not actually cause an issue when extending SplFileInfo as it predates strict interfaces, that is SplFileInfo says it returns int or throws exception, but it does not have a typehint that would require compatibility in the first place and is implicitly a mixed result in terms of actual code.

With respect to other issues ra

[2019-12-31 22:47] weierophinney commented on #3
@mattsah `SplFileInfo` is meant for file paths (whether they exist or not). It's not meant to be used for stream paths. Treating stream paths as non existent file paths is simply not right (especially when the stream path is valid).

---

Originally posted by @ADmad at https://github.com/zendframework/zend-diactoros/issues/377#issuecomment-553594888

[2019-12-31 22:47] weierophinney commented on #3
@ADmad I guess people better stop using `rename()` for streams then, since according to the documentation "rename — Renames a file or directory" and a stream is neither of those.

PHP has gone through a long process of progressively adding stream support and stream wrappers to places where previously only normal files could be used.  Pointing out that PHP is inconsistent and/or doesn't provide pro

[2019-12-31 22:47] weierophinney opened #4 "LTS Version 1.7 is missing a security fix"
- [x] I was not able to find an [open](https://github.com/zendframework/zend-diactoros/issues?q=is%3Aopen) or [closed](https://github.com/zendframework/zend-diactoros/issues?q=is%3Aclosed) issue matching what I'm seeing.
 - [x] This is not a question. (Questions should be asked on [chat](https://zendframework.slack.com/) ([Signup here](https://zendframework-slack.herokuapp.com/)) or our [forums](h

[2019-12-31 22:47] weierophinney commented on #4
The LTS page is a bit misleading. While 1.7 is listed as the LTS version, you can safely upgrade to any other release in the 1.X series without issue since we follow semver. Since 1.8 has received those fixes, update your version constraint to use `^1.7` (which will get anything from 1.7.0 forward in the 1.X series).

---

Originally posted by @weierophinney at https://github.com/zendframework/zen

[2019-12-31 22:47] weierophinney commented on #4
@weierophinney Well if we want support until 2022-03-15 then looking at https://framework.zend.com/long-term-support we need to stay on 1.7 since support for 1.8 ends in 2019-09-27.

Are you saying that because 1.7 is supported until 2022-03-15 then because you follow semver 1.8 will supported till then as well? If so yep the LTS page does seem misleading.

But also if there are known security iss

[2019-12-31 22:47] weierophinney commented on #4
If we follow the release notes then the `release-1.8` branch has not received any changes other than the fixes since September last year so I think we can assume 1.8 is an LTS as well but yeah having an actual confirmation will help.

---

Originally posted by @jibran at https://github.com/zendframework/zend-diactoros/issues/373#issuecomment-545856536

[2019-12-31 22:47] weierophinney commented on #4
@jibran @alexpott

Version 1.8 is LTS version, not 1.7. The issue is in the table - we will try to update it shortly.
Please note that there is a paragraph how to adapt LTS version:

and, paragraph before we have:

so, when we use `^1.7.0`, version 1.8 will be installed as well and this one should be marked as LTS.

---

Originally posted by @michalbundyra at https://github.com/zendframework/zend-

[2019-12-31 22:48] weierophinney opened #5 "Generators are not supported for JSON responses."
### Code to reproduce the issue

[code]

### Expected results

Response should consume the generator and treat it as if a normal PHP array was passed in:

[code]

### Actual results

An error is thrown instead: "Trying to clone an uncloneable object of class Generator..."

---

Originally posted by @nbish11 at https://github.com/zendframework/zend-diactoros/issues/365

[2019-12-31 22:48] weierophinney opened #6 "Add DownloadResponse Class"
**Why is the new feature needed? What purpose does it serve?**

After doing a bit of searching, I didn't find a class that would send a CSV response. There were the _Text_, _JSON_, _HTML_, _Redirect_, _XML_, and _Empty_ response classes, but nothing specific to CSV. So I created this PR to add a CSV response class, which can send both plain CSV text as well as a response that will be interpreted b

[2019-12-31 22:48] weierophinney commented on #6
Sorry that I let this slip. I'll get it finalised this week, all being well.

---

Originally posted by @settermjd at https://github.com/zendframework/zend-diactoros/pull/361#issuecomment-545107219

[2019-12-31 22:48] weierophinney commented on #6
Hey @weierophinney, I've been having a think about this one. As I see it at the moment, keeping it part of Diactoros, to me, makes the most sense. I'll aim to get it implemented this week.

Matthew

---

Originally posted by @settermjd at https://github.com/zendframework/zend-diactoros/pull/361#issuecomment-546697015

[2019-12-31 22:48] weierophinney commented on #6
I've made a start on working the three methods, however, I think they're going to take a bit of time to create and test thoroughly enough to feel comfortable with.

---

Originally posted by @settermjd at https://github.com/zendframework/zend-diactoros/pull/361#issuecomment-547638178

[2019-12-31 22:48] weierophinney commented on #6
No worries - we're pretty busy finalizing the Laminas migration tooling as it is. :smile:

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-diactoros/pull/361#issuecomment-547638921

[2019-12-31 22:48] weierophinney commented on #6
I can only imagine.

---

Originally posted by @settermjd at https://github.com/zendframework/zend-diactoros/pull/361#issuecomment-547775319

[2019-12-31 22:48] weierophinney commented on #6
@settermjd Would you be able to resolve conflicts on this PR, please? Not sure what exactly happened but github is not showing proper diff on `custom-responses.md` file. Thanks !

EDIT: Is it not WIP anymore, right? If so, please update PR subject.

---

Originally posted by @michalbundyra at https://github.com/zendframework/zend-diactoros/pull/361#issuecomment-552907284

[2019-12-31 22:48] weierophinney commented on #6
@michalbundyra, sorry for disappearing. I'm working on it this week until it's completed.

---

Originally posted by @settermjd at https://github.com/zendframework/zend-diactoros/pull/361#issuecomment-566377489

[2019-12-31 22:48] weierophinney commented on #6
I would like to reiterate here for the record my objections I voiced before in chat for approach introducing specialized response types as opposed to straight up factories.

Functionality introduced here is a factory method pattern. I think what it tries to achieve here violates single responsibility principle in that psr message *represents* complex http response structure and Csv and Download re

[2019-12-31 22:48] weierophinney commented on #6
Hey @Xerkus, to be honest, in the chat, I didn't fully appreciate what you were trying to say. However, after reading through such detailed feedback, what you're saying makes a lot of sense to me and, to be honest, I'm thinking that your approach is the correct one. What most stands out for me is the `preparePartialFromFile`. That looks like a great idea.

That said, the PR is still a WIP. The CSV

[2019-12-31 22:48] weierophinney opened #7 "Array cookies not parser properly"
`\Zend\Diactoros\parseCookieHeader` does not properly parse array cookies in header:

`testCookie[foo]=fooValue; testCookie[bar]=barValue`

this should be ok by php doc [here](https://www.php.net/manual/en/function.setcookie.php) in Example # 3 but the parser does not match it

also in closed issue #272

---

Originally posted by @mposchl at https://github.com/zendframework/zend-diactoros/issues/3

[2019-12-31 22:48] weierophinney opened #8 "Empty header check breaking change"
The following commit causes breaking issues and probably should not have been implemented in a minor version.

https://github.com/zendframework/zend-diactoros/commit/ee4bcdc43b6d60cd2b1256809903b8620a7257c7#diff-5abca4d9d5693da46d10a54795b1192d

Specifically this change breaks laravel/passport ^3.0 which depends on ~1.0 of this library.

I've opened a ticket for them to patch branch 3.x, but that

[2019-12-31 22:48] weierophinney commented on #8
This is problematic to back out of the 1.8 series of zend-diactoros.

The patch that introduced it, #325, did so _in order to make the library comply correctly with the PSR-7 specification_. Essentially, by _not_ checking it, we had introduced a bug in our implementation.

That also means that, on the flip side, if you were relying on that behavior previously, you were _relying on a bug_.

If lara

[2019-12-31 22:48] weierophinney commented on #8
Hey everyone. Seems that the problem lies with Symfony HttpFoundation's `ServerBag` class and not with Passport itself. See https://github.com/laravel/passport/issues/992

---

Originally posted by @driesvints at https://github.com/zendframework/zend-diactoros/issues/356#issuecomment-475149861

[2019-12-31 22:48] weierophinney commented on #8
My 2 cents on the issue: I wouldn't revert the change if it was a bug fix to comply to PSR-7 more. Implementing libraries were relying on faulty behavior like @weierophinney noted.

---

Originally posted by @driesvints at https://github.com/zendframework/zend-diactoros/issues/356#issuecomment-475150220

[2019-12-31 22:48] weierophinney opened #9 "UTF-8 URIs are broken by parse_url when locale is set"
The `parse_url` function is not multibyte safe, and was never designed to be, which seems to be why [this bug](https://bugs.php.net/bug.php?id=52923) from 2010 has still not been addressed. As mentioned in the comments on that bug, a nicer behaviour would be for `parse_url` to "treat all extended characters ... as opaque characters and copy them as-is without modification", but I don't see that ha

[2019-12-31 22:48] weierophinney commented on #9
As mentioned in the comments on the PHP bug which I linked, this issue seems to be platform specific (as well as depending on what locale is set).

After quite a bit of trying, I've so far been unable to write any unit test for this which fails on Travis, and I'm now running out of ideas.

I can at least say for sure that this is definitely reproducible on MacOS, and have had other people around t

[2019-12-31 22:48] weierophinney commented on #9
@Pudge601 Can you then provide the test which is failing on MacOS? I'll check on mine and maybe will have some ideas...

---

Originally posted by @michalbundyra at https://github.com/zendframework/zend-diactoros/issues/354#issuecomment-456340570

[2019-12-31 22:48] weierophinney commented on #9
I've committed them on the [issue/354-add-failing-tests](https://github.com/Pudge601/zend-diactoros/tree/issue/354-add-failing-tests) branch of my [fork](https://github.com/Pudge601/zend-diactoros) of this repo.

---

Originally posted by @Pudge601 at https://github.com/zendframework/zend-diactoros/issues/354#issuecomment-456344482

[2019-12-31 22:48] weierophinney commented on #9
@Pudge601 I am getting errors on MacOS as you said. What if we update Travis to run tests on different environments? See: https://docs.travis-ci.com/user/multi-os/

I see you've suggested some solutions, so we can resolve it. But not sure if it is worth to do it, if the problem is _only_ on MacOS...

---

Originally posted by @michalbundyra at https://github.com/zendframework/zend-diactoros/issues

[2019-12-31 22:48] weierophinney commented on #9
Yeah, I looked at the same thing, but found [this page](https://docs.travis-ci.com/user/languages/php/) in the Travis docs which states that;

😞

---

Originally posted by @Pudge601 at https://github.com/zendframework/zend-diactoros/issues/354#issuecomment-456358274

[2019-12-31 22:48] weierophinney opened #10 "Invalid size provided for UploadedFile; must be an int."
Hi guys, I'm working on an iOS project and I'm required to send documents, such as pdfs, to my laravel server. The issue is, every time I try to send a post request for a PDF, I get this error message: `Invalid size provided for UploadedFile; must be an int`. I'm at my wit's end trying to solve this issue. Any ideas?

---

Originally posted by @ImmanuelKannan at https://github.com/zendframework/ze

[2019-12-31 22:48] weierophinney commented on #10
That exception is thrown here https://github.com/zendframework/zend-diactoros/blob/167607290e79c396fd947cedeadccce0173c0e47/src/UploadedFile.php#L113-L115

That is all I can derive from the description, you need to be more specific. Stack traces, anything?

---

Originally posted by @Xerkus at https://github.com/zendframework/zend-diactoros/issues/316#issuecomment-405119085

[2019-12-31 22:48] weierophinney commented on #10
If laravel uses `ServerRequestFactory` to create request from php globals, try to do `var_dump($_FILES); exit;` with failing request and post result here

---

Originally posted by @Xerkus at https://github.com/zendframework/zend-diactoros/issues/316#issuecomment-405119510

[2019-12-31 22:48] weierophinney commented on #10
Increase upload_max_filesize in php.ini

;Maximum allowed size for uploaded files.
; http://php.net/upload-max-filesize
upload_max_filesize = 16M

Then
Restart Apache

---

Originally posted by @mrnaghibi at https://github.com/zendframework/zend-diactoros/issues/316#issuecomment-407001360

[2019-12-31 22:48] weierophinney opened #11 "Handle request headers with numeric keys"
Here, at getpocket.com, we have had a client hit our servers with header keys as integers. In doing so `HeaderSecurity::assertValidName` is throwing an exception because `! is_string(-1) === true`.

I have been unable to identify any documentation which would suggest that these values could be valid. At this point I believe the best behavior is to ignore these keys.

---

Originally posted by @jes

[2019-12-31 22:48] weierophinney commented on #11
Note: technically, `-1` is a valid header name.

RFC7230 defines it as following:
[code]

---

Originally posted by @Xerkus at https://github.com/zendframework/zend-diactoros/pull/286#issuecomment-355675954

[2019-12-31 22:48] weierophinney commented on #11
@Xerkus in that case, do you think that I should update `HeaderSecurity::assertValidName` to allow for numeric keys?

---

Originally posted by @jeshuaborges at https://github.com/zendframework/zend-diactoros/pull/286#issuecomment-355676502

[2019-12-31 22:48] weierophinney commented on #11
@jeshuaborges looks like there is a bug, this pattern should allow it

https://github.com/zendframework/zend-diactoros/blob/817def741b4e7f41e5eae9b9adc117e33323d6bf/src/HeaderSecurity.php#L159

---

Originally posted by @Xerkus at https://github.com/zendframework/zend-diactoros/pull/286#issuecomment-355677346

[2019-12-31 22:48] weierophinney commented on #11
Could you open a new PR with a test for all those allowed characters?

---

Originally posted by @Xerkus at https://github.com/zendframework/zend-diactoros/pull/286#issuecomment-355678158

[2019-12-31 22:48] weierophinney commented on #11
@Xerkus Yes.

---

Originally posted by @jeshuaborges at https://github.com/zendframework/zend-diactoros/pull/286#issuecomment-355678271

[2019-12-31 22:48] weierophinney commented on #11
Actually, what was exact error? Was it `Invalid header name type; expected string;`?

---

Originally posted by @Xerkus at https://github.com/zendframework/zend-diactoros/pull/286#issuecomment-355678595

[2019-12-31 22:48] weierophinney commented on #11
I bet header names are used as array keys and php converts them to integers if they are numeric, so it is not a pattern issue. It is actually more serious.

@weierophinney you need to take a look at this.

I do not think there is a practical use for numeric headers, so omitting them might be acceptable.

---

Originally posted by @Xerkus at https://github.com/zendframework/zend-diactoros/pull/286#

[2019-12-31 22:48] weierophinney commented on #11
It's not up to us to decide what's acceptable; RFC 7230 decides that, and numeric header names are clearly indicated as acceptable by that specification. We just need to fix the `assertValidName()` code to comply.

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-diactoros/pull/286#issuecomment-356017999

[2019-12-31 22:48] weierophinney commented on #11
@weierophinney integer keys with strict types enabled would be a bad breaking surprise for consumers.
Numeric keys being converted to integers and then handled as non-assoc are also a bad surprise with unexpected behavior. We can't really do anything about it the way HTTP Messages PSR defines interfaces, PHP itself doing bad thing here

For example: https://3v4l.org/XUj6h

In that case issue about

[2019-12-31 22:48] weierophinney commented on #11
I was having trouble understanding your argument until I followed the 3v4l link; that was enlightening.

So, what do you propose we do, @Xerkus ?

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-diactoros/pull/286#issuecomment-356026702

[2019-12-31 22:48] weierophinney commented on #11
I never found a workaround to force string numerics as keys, and it bit me a number of times in the past.

My cases I solved by hacks: changed code to have all keys prefixed with a static string, it is not possible in his case

---

Originally posted by @Xerkus at https://github.com/zendframework/zend-diactoros/pull/286#issuecomment-356031201

[2019-12-31 22:48] weierophinney commented on #11
@jeshuaborges For the interim, what I would suggest is doing some pre-processing of `$_SERVER` before the request is created, scrubbing out any keys matching `/^HTTP__\d/` or `/^HTTP_\d/`. We'll continue brainstorming ideas in the meantime so we can come up with a more robust solution.

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-diactoros/pull/286#issuecommen

[2019-12-31 22:48] weierophinney commented on #11
@weierophinney @Xerkus Thank you both for looking into this and circling back.

---

Originally posted by @jeshuaborges at https://github.com/zendframework/zend-diactoros/pull/286#issuecomment-356418659

[2019-12-31 22:48] weierophinney opened #12 "`ServerRequestFactory::fromGlobals()` checks if args are truthy rather than set"
In `ServerRequestFactory::fromGlobals()`, most of the code checks if the arguments are truthy, rather than set. For example:

https://github.com/zendframework/zend-diactoros/blob/89d471cc09850c7d47839cf16ba7a1fed54d45e5/src/ServerRequestFactory.php#L57-L58

https://github.com/zendframework/zend-diactoros/blob/89d471cc09850c7d47839cf16ba7a1fed54d45e5/src/ServerRequestFactory.php#L72-L74

This becom

[2019-12-31 22:48] weierophinney commented on #12
`fromGlobals()` is meant to be used for requests parsed by php and injected into process as global variables. That rules out multiple requests in long running processes or requests assembled for testing.

Other than apparent misuse, this looks like a legit issue.

---

Originally posted by @Xerkus at https://github.com/zendframework/zend-diactoros/issues/281#issuecomment-350124863

[2019-12-31 22:48] weierophinney commented on #12
I would definitely consider a patch that uses the isset-ternary approach outlined above. That said, as noted by @Xerkus, this is a rare possibility in standard usage.

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-diactoros/issues/281#issuecomment-403626461

[2019-12-31 22:48] weierophinney opened #13 "Add support for Responses that produce a HTTP/1.1 chunked stream"
HTTP/1.1 provides 'Transfer-encoding: chunked' for sending a stream of data from the server.

Zend Diactoros currently doesn't seem to provide out-of-the-box support for this.

- There's no existing `Response` that sets the required headers for you.
- There's no existing implementation of `StreamInterface` that supports dynamic content and is compatible with the requirements of `SapiStreamEmitter`

[2019-12-31 22:48] weierophinney commented on #13
Honestly, this looks like a combination of:

- A stream type
- A custom emitter type

As such, it may make sense as a bridge package between Diactoros and [zend-httphandlerrunner](https://docs.zendframework.com/zend-httphandlerrunner/) that provides the stream and the associated emitter. We would definitely promote it, and potentially offer to bring it into the zendframework organization if you wi

[2019-12-31 22:49] weierophinney opened #14 "Huge memory usage, despite using SapiStreamEmitter"
Huge memory usage, despite using SapiStreamEmitter

When using Zend\Diactoros\Server with `->setEmitter(new \Zend\Diactoros\Response\SapiStreamEmitter());`, it is still huge memory usage.

here is reproduce code.

[code]

expected Memory Usage is `2.00 MB`,
but showned Memory Usage is `16.00 MB`.

I think that reason is Server::listen() calls [`ob_start`](https://github.com/zendframework/zend-diac

[2019-12-31 22:49] weierophinney commented on #14
First, for anyone reading this, you need to apply PR #233 before running this code.

@sasezaki your suggestion will not work. However, may be interesting to add an "ob_end_flush" at the end of "listen" method (not ob_end_clean).

In order to reduce memory usage  is necessary a call to "ob_flush" after each "read" call in SapiStreamEmitter.php.

However I believe this may cause performance issues i

[2019-12-31 22:49] weierophinney commented on #14
It has been months (literally) since I started looking for a solution.

In my case, here is what did the trick - Note that I'm only using the SapiStreamEmitter:
[code]

**I'm not sure if this is really efficient**, but at least it works (with large files ofc). I still need to try it in prod though..

Not taking any credit here. In fact, this is from an answer (that have some up votes) on `ob_impli

[2019-12-31 22:49] weierophinney opened #15 "trailer headers for stream responses"
My php service generates a very big list of items.
I decided to stream items on the fly as they are generated to save memory.
I implemented response body as a custom stream that wraps a generator which yields items.

Now I need to append a checksum trailer header to that stream response, so clients can check response validity.

What is a proper way of appending trailer header to a stream response

[2019-12-31 22:49] weierophinney opened #16 "CallbackStream and Server Sent Event (SSE) ?"
Hi,

Do you know how we can play with SSE ?
I'm trying to use CallbackStream to handle my SSE manager with code like this one:
[code]

How can I use echo and flush behavior with CallbackStream ?

Regards,

---

Originally posted by @Wikiki at https://github.com/zendframework/zend-diactoros/issues/229

[2019-12-31 22:49] weierophinney commented on #16
@Wikiki I would probably use a custom readable `Stream` for the body, rather than a callback stream. That should be very much sufficient, since SSE doesn't need client interaction.

In order to do that, you'd probably implement a custom [`eof`](https://github.com/php-fig/http-message/blob/f6561bf28d520154e4b0ec72be95418abe6d9363/src/StreamInterface.php#L66) and a custom [`read`](https://github.com

[2019-12-31 22:49] weierophinney opened #17 "exception not a valid header name"
Not sure what is going on? Could it be http2 related?

generated by: It's comes Charles's "Copy Curl Request" feature

[code]

Errors with:

[code]

---

Originally posted by @basz at https://github.com/zendframework/zend-diactoros/issues/198

[2019-12-31 22:49] weierophinney opened #18 "Additional checking for uploaded file"
Why `is_uploaded_file` missing in `->moveTo`? but specified in https://github.com/zendframework/zend-diactoros/blob/master/src/UploadedFile.php#L135

---

Originally posted by @undercloud at https://github.com/zendframework/zend-diactoros/issues/190

[2019-12-31 22:49] weierophinney opened #19 "Denormalization between URI query-string and ServerRequest query-params"
Today, I was bitten by the denormalization of URI query-strings between the URI model and the ServerRequest model.

I was delegating a request object, and although the URI included a set of query params, these did not propagate from the URI model to the ServerRequest model - and the consumer component happened to be getting this information from the ServerRequest model rather than from the URI mod

[2019-12-31 22:49] weierophinney commented on #19
By the way, the same issues exists for post-variables and the body stream - and again, consistent with PHP, a body that does not represent post-variables in the expected format can simply be treated as empty, since the accessors are for post-variables in the expected format, not for other arbitrary post-data, e.g. consistent with `$_POST`.

---

Originally posted by @mindplay-dk at https://github.

[2019-12-31 22:49] weierophinney opened #20 "SapiEmitter::emitBody() suppresses exceptions by using StreamInterface::__toString()"
`SapiEmitter::emitBody()` is currently:

[code]

The definition of `StreamInterface::__toString()` specifies:

and `Zend\Diactoros\Stream::__toString()` indeed suppresses run-time exceptions:

[code]

`GuzzleHttp\Psr7\Stream::__toString()` even suppresses all exceptions:

[code]

As a practical result of this, whenever there is an exception in the process of reading the stream, instead of it bubbl

[2019-12-31 22:49] weierophinney commented on #20
It just occurred to me - why is `emitBody()` converting the stream to a string in the first place? Isn't the whole point of a stream that it can be streamed?

[code]

---

Originally posted by @jesseschalken at https://github.com/zendframework/zend-diactoros/issues/181#issuecomment-227627967

[2019-12-31 22:49] weierophinney commented on #20
I performed a ton of benchmarks when developing psr-7 that indicated that
when dumping the entire stream at once, the implementation in
`__toString()` tends to be most performant for payloads falling within
average web page and API payload sizes. You can always create alternate
emitters if your needs are different.
On Jun 21, 2016 9:39 PM, "Jesse Schalken" notifications@github.com wrote:

---

Ori

[2019-12-31 22:49] weierophinney commented on #20
Doesn't everybody "need" their exceptions not to be ignored? Isn't that why they throw exceptions?

---

Originally posted by @jesseschalken at https://github.com/zendframework/zend-diactoros/issues/181#issuecomment-228649117

[2019-12-31 22:49] weierophinney commented on #20
Moreover, toString always returns an empty string when isSeekable is false due to the unchecked call to rewind there. I don't think toString should be used in SapiEmitter either.

---

Originally posted by @Venorcis at https://github.com/zendframework/zend-diactoros/issues/181#issuecomment-248638122

[2019-12-31 22:49] weierophinney opened #21 "Hack Typechecker definitions needed"
Hi!

This module is excellent, but in a `strict` Hack project, is has no use, unfortunately, because of the lack of typechecker definitions.

Me and, for sure, many others, would appreciate if you wrote typechecker definitions!

---

Originally posted by @barbu110 at https://github.com/zendframework/zend-diactoros/issues/180

[2019-12-31 22:49] weierophinney commented on #21
Would you be willing to provide a patch with them, please?

---

Originally posted by @weierophinney at https://github.com/zendframework/zend-diactoros/issues/180#issuecomment-223759568

[2019-12-31 22:49] weierophinney commented on #21
I am working on something, but I do not have time to finish them very soon.

---

Originally posted by @barbu110 at https://github.com/zendframework/zend-diactoros/issues/180#issuecomment-223759670

[2019-12-31 22:49] weierophinney commented on #21
@barbu110 What's the problem in a strict typed PHP 7 project?

---

Originally posted by @sandrokeil at https://github.com/zendframework/zend-diactoros/issues/180#issuecomment-223759820

[2019-12-31 22:49] weierophinney commented on #21
@sandrokeil, not PHP 7, Hack. The HHVM typechecker won't recognize the code of the module because it written in `<?php`, not `<?hh`, so `.hhi` definitions must be provided.

---

Originally posted by @barbu110 at https://github.com/zendframework/zend-diactoros/issues/180#issuecomment-223759882

[2019-12-31 22:49] weierophinney opened #22 "Stream::getMetadata()"
What must return Stream::getMetadata() if resource is detached?

P.S.:
What should be the level of expectation of the error?
if i use:

[code]

Do I have to expects an RutimeException?

---

Originally posted by @easy-system at https://github.com/zendframework/zend-diactoros/issues/168

[2019-12-31 22:49] weierophinney opened #23 "ServerRequestFactory"
This all works fine. Great.
But why all the logic is concentrated in one place?
Moreover, there is a class of Server.
I think it would be better to make a directory of the factories.
Firstly, it allows to separate each logic element in its factory.
Secondly, because I can always get in the code of the original values.
For example, Zend\Diactoros\Factory\HttpProtocolFactory:

[code]

All this is tr

[2019-12-31 22:49] weierophinney commented on #23
And for the host is must be required!
forced host... This is not such a rare situation. And it should be done without interfering with the application logic, the best from the index.php

[code]

---

Originally posted by @easy-system at https://github.com/zendframework/zend-diactoros/issues/158#issuecomment-195967151

[2019-12-31 22:49] weierophinney commented on #23
Ok. Im delete this from public.
P.S.: reported

---

Originally posted by @easy-system at https://github.com/zendframework/zend-diactoros/issues/158#issuecomment-195991259

[2019-12-31 22:49] weierophinney opened #24 "ServerRequest"
Perhaps it makes sense to pass to the constructor $attributes like $_ENV.

---

Originally posted by @easy-system at https://github.com/zendframework/zend-diactoros/issues/156

[2019-12-31 22:49] weierophinney opened #25 "RequestTrait"
::getRequestTarget()

http://tools.ietf.org/html/rfc7230#section-5.3.1

The query component is optional, the path is required.
But in code if exists only query - return it

[code]

probably it would be correct:

[code]

---

Originally posted by @easy-system at https://github.com/zendframework/zend-diactoros/issues/153

[2019-12-31 22:49] weierophinney commented on #25
::withRequestTarget()

[code]

What if my path contains not ASCII characters?
Probably, the URI class must have public methods `encode` and `decode`?
Moreover, the PSR-7 almost directly talking about it:

That is, if the user wants to decode the string - there are decoding method.
If we need to encode a string (eg, target) - there is an encoding method.

I think that something like this:

[code]

[2019-12-31 22:49] weierophinney opened #26 "Request HTTP method defaults to empty string"
Discovered while digging in https://github.com/php-http/curl-client/issues/14

Apparently, diactoros defaults the HTTP method when building a `new Request('http://example.com')` to `''` (empty string). As far as I know, an empty string is not a valid HTTP method (not sure if that assumption is reflected in the HTTP spec), and therefore the initial state of a diactoros HTTP request is invalid, and

[2019-12-31 22:49] weierophinney commented on #26
What would you consider a valid default? GET? HEAD? OPTIONS?

Additionally, IIRC, somebody presented a use case for allowing a nullable
method, so we'll need to see if those needs are still valid, and how to
handle that with the concept of a default.
On Mar 4, 2016 8:30 PM, "Marco Pivetta" notifications@github.com wrote:

---

Originally posted by @weierophinney at https://github.com/zendframework

[2019-12-31 22:49] weierophinney commented on #26
That is a good question, but I'm fairly sure that 90% of the web traffic is just `GET`, so going with that is a quite decent choice.
That would just be the default value, but the idea is to simply reject anything that isn't a valid HTTP method. For example, HTTP methods with invalid characters should also be rejected (spaces are one simple case that can be handled).

Overall, this logic can be enc

[2019-12-31 22:49] weierophinney commented on #26
I've just remembered that i implemented psr-7 starting from phly/http and added a default method in the constructor ('GET') and a simple http-method filtering method (mwop would have nameed it marhallMethod). Juts to get an idea form ths code fragment

[code]

---

Originally posted by @pine3ree at https://github.com/zendframework/zend-diactoros/issues/150#issuecomment-222566044

[2019-12-31 22:49] weierophinney opened #27 "Relative stream possible issue with pointers"
I was looking through stream implementation. Relative stream and the stream it wraps are sharing same pointer, right?
So if we rewind wrapped stream, read on relative will return data before offset position.
Also tell() will give negative position, which is out of bounds error.

This shared pointer in streams looks extremely bug prone to me.

May be on seekable streams we should store pointer loca

[2019-12-31 22:49] weierophinney opened #28 "Add ImageResponse?"
How about adding an `Zend\Diactoros\Response\ImageResponse` that supports the most common file types like JPG, GIF and PNG? How could this be archieved?

---

Originally posted by @RalfEggert at https://github.com/zendframework/zend-diactoros/issues/141

[2019-12-31 22:49] weierophinney commented on #28
I would say let Diactoros be safe from all these and only rely on the psr-7 interfaces.

If we need, we can add to Diactoros\Extras or something.

You may ask, what is the advantage ?

If we do add more helper function people will use those, and the purpose of switching between psr-7 packages will get into trouble. Lets not bring it due to the same.

---

Originally posted by @harikt at https://gi

[2019-12-31 22:49] weierophinney commented on #28
@harikt

Thanks for your feedback. For the same reason then `Zend\Diactoros\Response\HtmlResponse` or `Zend\Diactoros\Response\JsonResponse` should be deleted.

---

Originally posted by @RalfEggert at https://github.com/zendframework/zend-diactoros/issues/141#issuecomment-176366428

[2019-12-31 22:49] weierophinney commented on #28
I don't know that will happen due to BC break. But I think yes.

---

Originally posted by @harikt at https://github.com/zendframework/zend-diactoros/issues/141#issuecomment-176567188

[2019-12-31 22:49] weierophinney commented on #28
But these Reponse classes are really useful in the context of a Zend\Expressive application. If you want to remove them from `Zend\Diactoros` where should they be placed? Moving them to a different  `Zend\Diactoros` package won't really solve the problem. People will still use them.

---

Originally posted by @RalfEggert at https://github.com/zendframework/zend-diactoros/issues/141#issuecomment-17

[2019-12-31 22:49] weierophinney commented on #28
@RalfEggert I don't know the whole edge cases, but this is what I was thinking.

`Zend\Diactoros\Extras` can be type hinted to psr-7 response interfaces. So that means not just diactors can use these, but also any psr-7 responses.

But I understand that is not so simple, as the current ones are doing.

[code]

So I don't have a real answer for the current time. But I will think about the same.

--

[2019-12-31 22:49] weierophinney commented on #28
I want to keep them. I don't see how they reduce compatibility with PSR7. Those helper methods still create a PSR7 ResponseInterface. We typically only use those helper classes on controllers (which are tied to a framework like Expressive, so it definitely makes sense to use them), but on other layer we still typehint against ResponseInterface.

Those are just shortcuts that are super convenient t

[2019-12-31 22:49] weierophinney commented on #28
@bakura10

I have the same opinion that they are very useful and should be kept.

But what about the `Zend\Diactoros\Response\ImageResponse` I suggested?

---

Originally posted by @RalfEggert at https://github.com/zendframework/zend-diactoros/issues/141#issuecomment-181507439

[2019-12-31 22:49] weierophinney commented on #28
I feel we should support anything that is often required. I'm not sure about ImageResponse. What is the use case? You return an image after processing in the back-end?

---

Originally posted by @bakura10 at https://github.com/zendframework/zend-diactoros/issues/141#issuecomment-181545741

[2019-12-31 22:50] weierophinney opened #29 "Uri::__toString adds extra delimiters"
I'm finishing coding League\Url v4 and it exposed the following class in public API

[code]

To compare two PSR-7 UriInterface object based on their `__toString` method output.

I tried to make it work with Diactoros but I failed with the following edge cases URLs:
-  `http:/example.com`
-  `http:example.com`

In both cases the object is instantiated and the respective Uri components are correctly

[2019-12-31 22:50] weierophinney commented on #29
@nyamsprod Two questions:
- Is this worth correcting? As you yourself note, these are edge cases.
- If you feel it is worth correcting, how would you approach it?

A couple notes from the `UriInterface`:
- "If an authority is present, it MUST be prefixed by '//'". However, PSR-7 _does not_ detail what to do if no authority is present. In other words, while the `//` is not _required_ if no authorit

[2019-12-31 22:50] weierophinney commented on #29
@weierophinney here's what I think

My interpretation was that if no authority is present then the authority delimiters were never added. This is the approach I took with `League\Url`. IMHO This is the reason why you end up with the triple `/`. Since the path is formatted in accordance with the presence or absence of an authority part. So it seems to be an implementation _disagreement_ .

Since th

[2019-12-31 22:50] weierophinney commented on #29
@nyamsprod I'd recommend the following:
- Let's do a PSR-7 clarification/errata. You can see an example in [PSR-2](https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-2-coding-style-guide-meta.md#3-errata). If you draft it, I'll champion it on the mailing list.
- Additionally, I think it makes sense to do it in the implementation _if_ the implementation is not attempting to correct f

[2019-12-31 22:50] weierophinney commented on #29
@weierophinney seems that @icywolfy as already open an issue about this problem with a more in depth explanation than I did on the [fig repo issue 584](https://github.com/php-fig/fig-standards/issues/584). It would be nice to have a general answer to the issues he raised there

---

Originally posted by @nyamsprod at https://github.com/zendframework/zend-diactoros/issues/65#issuecomment-125699267

[2019-12-31 22:50] weierophinney commented on #29
@weierophinney I thought about an errata/clarification around this issue. I hope my wording is not breaking errata rules by adding new rules to PSR-7. Anyway [this is just a draft](https://gist.github.com/nyamsprod/95fd855c74795036cbb9). I'm looking forward for your input/remarks

---

Originally posted by @nyamsprod at https://github.com/zendframework/zend-diactoros/issues/65#issuecomment-1368350

[2019-12-31 22:50] weierophinney commented on #29
:)
Add, please, tests:

[code]

So, it works:

[code]

---

Originally posted by @easy-system at https://github.com/zendframework/zend-diactoros/issues/65#issuecomment-193516304

[2019-12-31 22:50] weierophinney commented on #29
Sorry, it is i`m now :) I speek wery bad, so see this:
http://download.java.net/jdk7/archive/b123/docs/api/java/net/URI.html

---

Originally posted by @easy-system at https://github.com/zendframework/zend-diactoros/issues/65#issuecomment-193523698

[2020-02-04 14:40] derekrprice opened #34 "BC Break, Laravel Passport 7.5 -> 8.3"
I originally opened [this ticket](https://github.com/laravel/passport/issues/1179) with the passport team and they asked me to re-open it over here.  The problem happens on passport upgrade, but if you look at the stack trace, you should see that the error message is from symfony/psr-http-message-bridge complaining that a Diactoros method isn't returning the correct value.

- Passport Version: 8.3

[2020-02-05 12:51] Xerkus commented on #34
@derekrprice This issue was fixed by patched releases (p1 suffix)

Can you please run `composer update laminas/laminas-diactoros`?
You should see something like this:
[code]

[2020-02-06 16:03] hexus opened #35 "Zend Framework Bridge is a required dependency"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.x

#### Summary

The Diactoros package currently forces installation of the Zend Framework bridge package, `laminas/laminas-zendframework-bridge`. For projects that can switch over easily, this is a completely unnecessary dependency.

Unless I'm missing something crucial here, I would instead recommend placing this depend

[2020-02-07 15:26] Xerkus commented on #35
It is required because laminas packages *replace* zend framework packages. To be a replacement laminas package should not break the code expecting zend framework package. That makes bridge a hard dependency. It will be dropped in next major release.

[2020-02-07 15:26] #35 closed

[2020-02-10 10:49] Xerkus commented on #34
@derekrprice was issue resolved?

[2020-02-10 20:00] hexus commented on #35
Right, next major version makes more sense. Thank you.

[2020-02-20 20:00] tjlytle opened #36 "`strict_types` Breaks Consuming Code"
Note: This could be totally intentional, and it was for a major version, so not a problem. But wanted to make sure this _was_ the intention. I don't think it was as the change log doesn't mention it as a _breaking_ change, or even reference the potential issue:

### BC Break Report

|    Q        |   A
|------------ | ------
| Version     | 2.x.x

#### Summary

Because `strict_types` are enabled i

[2020-02-20 23:31] Xerkus commented on #36
https://github.com/php-fig/http-message/blob/efd67d1dc14a7ef4fc4e518e7dee91c271d524e4/src/StreamInterface.php#L108-L115
[code]
As per the method signature false is not a valid value and it never was before.
Introduction of strict types did not change the signature so it is not a BC break for supported usage. In effect, what you experience is a bug on consumer side that was silently swallowed befor

[2020-02-20 23:31] #36 closed

[2020-02-21 15:10] tjlytle commented on #36
@Xerkus not sure I'd call it a consumer side bug, as before enabling strict types, type juggling could be reasonably expected (and to some extent, is still ambiguous, because the type is no more than annotation, not a proper hint).

But I don't disagree with closing this at all. Thanks for the quick reply.

[2020-03-24 13:59] weierophinney opened #38 "Remove references to "Server" class in v2 documentation"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.0.0+

#### Summary

The documentation refers to the `Laminas\Diactoros\Server` class (e.g., https://docs.laminas.dev/laminas-stratigility/v3/middleware/). This class was removed in version 2, and the changelog in fact recommends using [laminas/laminas-httphandlerrunner](https://docs.laminas.dev/laminas-httphandlerrunner/)

[2020-04-16 12:09] HagenMorano opened #39 "getQueryParams not returning proper data type"
### Bug Report

zend-expressive v2.0.2

#### Summary

Do not know if this is a known issue or if this has already been fixed. The issue exists in zend-expressive v2.0.2. When accessing url query parameters via `$request->getQueryParams()`, integer values will be cast to string (e.g. `2` => `"2"`). I discovered this on parsing a query string encoded with `http_build_query` on an array.

Same thing

[2020-04-16 14:48] weierophinney commented on #39
Let's start with:

and:

We'll start with a statement: query string arguments are presented as a string; hence the verbiage "query string". This is defined by the IETF specifications.

Now, when it comes to PHP, `http_build_query()` _creates a string representation_ of the arguments passed to it. `parse_str()` parses the string pass to it, has zero idea what the **types** of the arguments are, and

[2020-04-16 14:48] #39 closed

[2020-05-13 17:37] danepowell opened #42 "Conflict with zend-diactoros"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 1.8.7p2

#### Summary

zend-diactoros and laminas-diactoros define the same function in the same namespace. This can lead to PHP fatal errors when both are installed in the same project. It seems like either this conflict should be resolved (i.e. by fixing the namespace or function name), or laminas-diactoros should formall

[2020-05-13 17:45] weierophinney commented on #42
laminas-diactoros packages are marked to _replace_ zend-diactoros packages; Composer does not install the original package if a package marked as a replacement is already installed. When testing prior to creating the Laminas packages, we were able to confirm this Composer behavior, which is why we chose to mark them as replacements.

So, now the question is: how did you get them to install side-by

[2020-05-13 18:09] danepowell commented on #42
Thanks a lot, that clued me in to the root cause. I think you are right that Composer should prevent this. But in our case we have symlinked a separate composer package (via a Composer path repo) into the first one. The linked package has its own vendor directory with the zend version, and somehow PHPUnit is seeing _both_ vendor directories.

I'm still not exactly sure how to fix this, but it does

[2020-05-13 18:09] #42 closed

[2020-06-05 16:13] danepowell commented on #42
For anyone else experiencing this (since I've received support requests), you should look through your vendor directory to see where the two sets of classes (zend and laminas) are coming from. They shouldn't both be present unless you've hacked Composer, are doing some funky autoloading, or using Composer path repositories as I mentioned above.

[2020-06-06 00:13] boesing commented on #42
@danepowell There was a bug recently fixed in composer 2.0 which also installed two versions of the same package. I've referenced it in https://github.com/composer/composer/issues/8838 but couldn't find a way of abstracting my project to a "working" example to reproduce that behavior.

Luckily, another github user provided an example which produced exactly that behavior: https://github.com/compose

[2020-06-16 15:27] matt-allan opened #43 "Allow using serializers with other PSR implementations"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

Hey there 👋

I'm working on a project that could use the `Laminas\Diactoros\Request\ArraySerializer` and `Laminas\Diactoros\Response\ArraySerializer`. However I don't want to force the users of my package to use the `laminas-diactoros` PSR-7 implementation.

Any

[2020-06-16 15:30] weierophinney commented on #43
I've actually been thinking about this for some time; thanks for the nudge! I'll try and schedule this for development soon.

[2020-06-22 19:51] weierophinney commented on #43
I have this extracted here: https://github.com/weierophinney/laminas-diactoros-serializer

I'll be asking the @laminas/technical-steering-committee if we can bring this under the Laminas umbrella during the next TSC meeting (first Monday of July).

[2020-06-23 14:33] matt-allan commented on #43
Awesome, thanks so much!

This is a huge help; I wrote my own serializers using identical serialization so this will just drop right in!

[2020-07-03 15:26] halfpastfouram commented on #10
While this error itself will no longer occur, almost the same problem still happens in 2.3.0. When receiving the uploaded files from a request:

[code]

This can be easily fixed in the code by casting both the file size and the error code as an integer. I'll be making an PR for this.

[2020-07-07 15:35] #10 closed

[2020-07-08 14:01] weierophinney commented on #43
@matt-allan During the TSC meeting this week, some suggestions for improving the architecture were provided. I'm going to see which suggestions I can incorporate, and then will bring this back to the TSC. You can, of course, continue to use the package I've created in the meantime; just pin it to a sha1 when you do.

[2020-08-22 22:09] wuxue107 opened #48 "Psr7\MultipartStream compatible"
### Feature Request
[code]

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes/no
| BC Break    | yes/no

#### Summary

- guzzle\GuzzleHttp ->applyOptions  line:473
[code]

[2020-08-22 23:44] #48 closed, assigned to nobody

[2020-08-24 13:14] weierophinney commented on #48
I see you closed this; were you able to find a workaround? If so, could you post it here for others who find this issue?

Thanks!

[2020-08-24 17:00] wuxue107 commented on #48
-
I rebuilt the requested body before sending it

[code]

[2020-08-24 17:10] wuxue107 commented on #48
There are multiple file uploads and the post field not a string, which may need to be handled

[2020-10-04 15:27] boesing opened #53 "Psalm integration"
### Feature Request

|    Q        |   A
|------------ | ------
| QA    | yes

#### Summary

As decided during the [Technical-Steering-Committee Meeting on August 3rd, 2020](https://github.com/laminas/technical-steering-committee/blob/main/meetings/minutes/2020-08-03-TSC-Minutes.md#vote-on-static-analysis-tooling), Laminas wants to implement [vimeo/psalm](https://github.com/vimeo/psalm) in all pac

[2020-10-04 17:43] boesing opened #54 "PHP 8.0 support"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

To be prepared for the december release of PHP 8.0, this repository has some additional TODOs to be tested against the new major version.

In order to make this repository compatible, one has to follow these steps:

- [ ] Modify `composer.json` to provide support for PHP 8.0 by adding the constraint

[2020-10-08 18:52] garrettw opened #55 "Add other Response types as ResponseFactory methods"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | ?
| BC Break    | no

#### Summary

I would like to be able to use `ResponseFactory` to create instances of the various `*Response` classes.

[2020-10-08 20:26] weierophinney commented on #55
Marking as "won't fix".

The reason is because the various factories in Diactoros specifically target [PSR-17 (HTTP message factories)](https://www.php-fig.org/psr/psr-17/). Adding specialized factories to these defeats the purpose of the factories, which is to provide a standards-compliant way to produce instances without needing to rely on a specific implementation. If we have custom methods for

[2020-10-08 20:26] #55 closed, assigned to nobody

[2020-10-18 17:57] edudobay commented on #54
This is already being addressed in https://github.com/laminas/laminas-diactoros/pull/46, right?

[2020-11-04 14:18] sattes-faction commented on #28
A possible use case for that might be image processing like generating and returning a thumbnail upon request.

[2020-11-04 15:58] RalfEggert commented on #28
Or you return an image after doing some user right checks. If you are allowed to see the image, you get it delivered. If not you get a placeholder image.

[2020-11-17 21:56] boesing opened #57 "Stream is not fully compatible with GD resource"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.4.0

#### Summary

Using a GD resource works fine until there is interaction with the stream.

#### Current behavior

When working with GD Images, most of the methods of the Stream (with PHP 8.0 its `GDImage`) will result in errors.

#### How to reproduce

[code]
result in
[code]

So the existing code is already broken an

[2020-11-18 18:35] #54 closed, assigned to nobody

[2020-11-30 13:40] codercms opened #58 "Low performance of TextResponse and another related responses"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | no
| RFC         | no
| BC Break    | no

#### Summary

Currently `TextResponse` always allocating new buffer for string output - https://github.com/laminas/laminas-diactoros/blob/2.6.x/src/Response/TextResponse.php#L75
This approach working really slow, my suggestion is to implement pure RAM string stream.
Here is wha

[2020-11-30 14:00] lcobucci commented on #58
@codercms are you always experiencing that low performance or it depends on the text length? Does anything change if `/maxmemory:NN` gets added to `php://temp`? The filesystem should only be used when the text is big (default limit is 2Mb).

[2020-11-30 14:01] Ocramius commented on #58
Overall agree, `php://memory` could suffice here, but  we also are not sure if the provided `string|StreamInterface` will fit in memory, hence why a more conservative `php://temp` was used here.

I suggest sending a patch, and then we discuss the implications there: it is also acceptable to tell end-users that `TextResponse` is not intended for large payloads (which is in fact the original design

[2020-11-30 14:08] codercms commented on #58
@lcobucci there is two cases:
1. I'm experiencing low performance because TextResponse doing excess allocation of PHP native stream (allocation time + string copying time)
2. With large text length performance difference is even more

Patched TextReponse:
[code]

It is still slower than approach without PHP native stream allocation.
320 RPS without native PHP stream
260 RPS with native PHP stream

[2020-11-30 14:11] codercms commented on #58
@Ocramius I guess this patch will not affect end users, because php native stream is only allocated when string was passed to the constructor - this means that the memory for response is already allocated.

[2021-03-12 12:47] settermjd commented on #57
I'm happy to work on this

[2021-03-12 13:30] settermjd commented on #57
I don't know that it's possible to fix this, because stream_get_meta_data only works with streams created by fopen(), fsockopen(), and pfsockopen(). I'm open to learning about workarounds, but don't know of any atm.

[2021-03-12 13:37] ADmad commented on #57
I don't think the issue is fixable either.

Two options I see are:
1) Deprecate and drop support for using GD resource / `GDImage` instance with `Stream`.
2) Throw an exception when trying to do operations like seeking which are not possible with a `GDImage` instance.

[2021-03-14 20:09] settermjd commented on #57
Might be the case. I have to add some feedback from @weierophinney, tomorrow.

[2021-03-14 20:11] settermjd commented on #57
Just found it:

[2021-03-15 08:31] settermjd commented on #57
Sounds like the right approach, @ADmad

[2021-03-15 08:36] Xerkus commented on #57
Is it a correct approach to feed GD resource at all? Http message is meant to work with streams, not php resources in general

[2021-03-15 09:07] Xerkus commented on #57
From what I can see, GD resource is not meant to be used as data stream and one of `image*()` functions is meant to be used to output the image from GD resource to stdout, file or a stream resource, eg:
https://www.php.net/manual/en/function.imagewebp.php

I would say this is not a bug and won't fix.

[2021-03-15 13:42] ADmad commented on #57
How is it not a bug when the class accepts GD resources as argument for the constructor but generates errors when you try to use various functions of the class? A proper exception would have been at least acceptable.

https://github.com/laminas/laminas-diactoros/blob/4f1d12676a2c402fc8c02e7436cf6d80604ef611/src/Stream.php#L44-L46

**Errors are generated for PHP 7 too**, not just `GdImage` instance

[2021-03-15 14:16] Xerkus commented on #57
Oof. I did not know it was specifically whitelisted here.
I was looking at the GD docs to see where it was meant to be a valid binary data stream of the image or just happened to be that way.

[2021-03-15 23:39] boesing commented on #57
I'd say no but that ship has sailed. Was added in  #45 but I dont get all the reasons why this had to be added in the first place. Probably @settermjd can give us some more background.
After this, we might want to deprecate GD usage and remove it in next major.
Until then, we should throw proper diactoros exceptions when methods are called which use unsupported functions on the GD resource / `GDIm

[2021-05-03 06:08] bcremer opened #63 "Environment variables prefixed with `CONTENT_` may overwrite HTTP-Headers provided by the client"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | all

#### Summary

Environment variables prefixed with `CONTENT_` may overwrite HTTP-Headers provided by the client

#### Current behavior

This may be entirely expected behavior  but I have not found a spec or warning in the documentation.
It's a least surprising to find unrelated environment variables as request header an

[2021-05-04 05:29] bcremer commented on #63
If my understanding of https://tools.ietf.org/html/rfc3875#section-4.1.2 is correct only `CONTENT_LENGTH` and `CONTENT_TYPE` should be copied from `$_SERVER` to the headers in https://github.com/laminas/laminas-diactoros/blob/2.5.1/src/functions/marshal_headers_from_sapi.php#L54

Edit:
And maybe `CONTENT_MD5`, see: https://github.com/ralouphie/getallheaders/blob/develop/src/getallheaders.php#L14

[2021-05-17 16:03] weierophinney commented on #63
I agree we should make these changes.

Primary issue is... the `MarshalHeadersFromSapiTest` has a few test cases that fail if I make this change, as it was explicitly testing that things like `CONTENT_FOO` and `CONTENT_BAZ` in the `$_SERVER` array were being converted to headers. As such, this is potentially a BC break, as we'd be changing existing behavior.

I'm going to ask the TSC if the change

[2021-05-17 16:49] weierophinney commented on #63
One suggestion by @boesing is to potentially add a feature flag that is toggled via an ENV variable, and have it default to existing behavior when not present. This would allow you to opt-in to the new behavior, while keeping it backwards compatible by default. Next major version would remove the bad behavior of the current version.

I'll start work on that shortly.

[2021-05-18 13:49] #63 closed, assigned to weierophinney

[2021-05-18 14:41] #53 closed, assigned to nobody

[2021-09-03 17:27] JakeBooher opened #71 "Error with HTTP2 and NGINX"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.5.0

#### Summary

`Laminas\Diactoros\Exception\InvalidArgumentException: Unsupported HTTP protocol version "2.0" provided` exception when enabling http2 on nginx as it passes a protocol of `HTTP/2.0`

#### Current behavior

#### How to reproduce
Enable http2 on nginx (Current version tested is 1.21.1)

#### Expected beha

[2021-09-22 03:47] #71 closed, assigned to Ocramius

[2021-09-22 03:58] Ocramius commented on #58
Looking back at this, I think that for **text**, we can use `php://memory`, and let consumers with large `text/plain` payloads implement their own streamed response perhaps?

Unsure if this should be considered a BC break.

[2021-09-22 03:59] Ocramius commented on #58
Similar for `html`, which is the more common response object.

[2021-09-22 04:21] codercms commented on #58
@Ocramius I think there is one more approach (in two different ways):
1. Create a “fake” stream object that is just simulating stream behavior (under the hood its just a string wrapper which implements StreamInterface) - end user will have to create stream object
2. Create a true plain string response which will create a “fake” stream object under the hood - no additional actions for end user

[2021-09-22 04:45] Ocramius commented on #58
I didn't really understand the difference between those suggested approaches :thinking:

[2021-09-22 04:49] codercms commented on #58
@Ocramius actually its only one approach which can be implemented in two manners

[2021-09-22 04:50] Ocramius commented on #58
But basically, if I understand it correctly, avoiding usage of a stream at all, and having a `string` variable instead (since `html`/`text` responses are generally well within the memory limits)

[2021-09-22 04:58] codercms commented on #58
@Ocramius yes it is. The performance problem occurs when the Response object allocates stream for `string` (I mean PHP stream), but actually there is no need to allocate memory one more time.

[2021-09-23 22:27] l0gicgate opened #74 "PSR-7 Integration Tests Failing"
### Bug Report

The library is currently failing a `UriIntegrationTest`
https://github.com/php-http/psr7-integration-tests

|    Q        |   A
|------------ | ------
| Version(s)  | 2.8

#### Summary

<img alt="screenshot" src="https://camo.githubusercontent.com/9a744ca97a5087617a0794a298ffb0da29572797fd69e51d5a4470d01cf10fe4/68747470733a2f2f7075752e73682f49647579452f633535323835386335372e706e67"

[2021-09-23 22:41] boesing commented on #74
Related: https://github.com/php-http/psr7-integration-tests/pull/49
/cc @weierophinney

[2021-10-15 10:50] marcelthole opened #79 "Build is failing because of an update of the iata status code phrases"
### Bug Report
the current Builds are failing, because the testcase loads the latest version from here: https://www.iana.org/assignments/http-status-codes/http-status-codes.xml

This was Last Updated on 2021-10-01

Fix in #78

[2021-10-15 10:53] #79 closed, assigned to Ocramius

[2022-03-02 15:25] boesing opened #81 "Multipart Stream Factory"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | kinda
| BC Break    | no

#### Summary

I've seen there was already such a feature request in #48 which was somehow related to PSR-7 Streams which do actually represent a multipart payload.

From what I can see, [php-http/multipart-stream-builder](https://github.com/php-http/multipart-stream-builder

[2022-03-02 19:37] boesing commented on #81
### Implementation with guzzle

[code]

----

### Implementation with above suggested interfaces

[code]

[2022-03-02 21:08] boesing commented on #34
I'll close here as 2 years without feedback from the author might be long enough.

[2022-03-02 21:08] #34 closed

[2022-03-03 12:31] boesing commented on #81
I've written a PoC in https://github.com/boesing/http-factory-multipart
Needed to support PHP 7.3 for the project I am currently working on. Will migrate that project to 8.1 later this year and until then I use my library.

However, I still think this could be a useful addition to this component and thus I'd be fine with integrating that code to this component.

[2022-06-11 22:03] boesing commented on #57
@settermjd

Do you still work on this or can we somehow deprecate the usage of GD resources? AFAIR you added this for something you were working on? Do you still use this? Do we know others are using it actively since it was only noted as [a small hint](https://github.com/laminas/laminas-diactoros/blob/2b8806080a2bcbe9c59e7aff120fcbb9e346a8a7/docs/book/v2/api.md?plain=1#L181) within the API docume

[2022-06-17 11:00] settermjd commented on #57
Sorry, @boesing, I dropped off on this one. Will try and set time aside to get back into it.

[2022-06-17 11:01] settermjd commented on #57
Would love to chat to you about this, @boesing

[2022-06-17 12:54] boesing commented on #57
@settermjd Sure, I am on holidays right now. Will be back the end of this month. We can have a chat then if we find some time 🤙🏻

[2022-07-06 11:52] renovate[bot] opened #102 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/laminas/laminas-diactoros).

## Awaiting Schedule

The following updates are awaiting their schedule. To get an update now, click on a checkbox belo

[2022-07-07 08:58] #81 closed, assigned to nobody

[2022-07-07 14:26] triopsi opened #107 "Multiple use of the UploadedFile object in PHPUnit test cases with the same file results in errors - File is consumed"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.2.2

#### Summary

Hi,

I use the UploadedFile object to make my PHPUnit test cases more realistic for my application. (See example below) After an update of the
laminas-diactoros framework, I noticed that many PHPUnit test cases no longer work. This is because the UploadedFile object deletes the original file after use.

[2022-07-07 17:16] Ocramius commented on #107
This:

`new UploadedFile( TESTS . '/TestFiles/Home-Network.pdf'`

Should be:

[code]

[2022-07-08 00:31] k2rn opened #108 "`UploadedFile::moveTo()` doesn't remove the original file when used in CLI context and keep grab the handle."
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 2.11.2

#### Summary

`UploadedFile::moveTo()` doesn't  remove the original file when used in CLI context and keep grab the handle. So PHPUnit can't remove setup files. It fixed in this PR.
https://github.com/laminas/laminas-diactoros/pull/98

#### Current behavior

The uploaded file could not be removed when we called Uplo

[2022-07-08 00:33] k2rn commented on #108
This issue was fixed.

I created this issue by this mention.
https://github.com/laminas/laminas-diactoros/pull/98#commitcomment-77930965

[2022-07-08 00:33] #108 closed, assigned to nobody

[2022-07-19 09:06] 3DFace opened #111 "`FilterUsingXForwardedHeaders` should correctly deal with `<host>:<port>` pair in `X-FORWARDED-HOST` header"
Hello contributors!

I get from my web-server headers like:

[code]

I am using `FilterUsingXForwardedHeaders` filter and in result I get wierd URI from `ServerRequestFactory::fromGlobals` with `port` duplicated like `https://host:port:port/path`.

I guess`X-FORWARDED-HOST` in `FilterUsingXForwardedHeaders` should be parsed in the same way like `ServerRequestFactory::marshalHostAndPortFromHeader()

[2022-07-19 09:17] Ocramius commented on #111
Looks like a regular bug/regression to me.

@3DFace would you be able to provide a failing test case? See tests introduced in https://github.com/laminas/laminas-diactoros/commit/e08e52efcf470e3d048cd58ebf4864a40757ed83 for reference.

[2022-07-19 09:26] boesing commented on #111
Hm, I am not 100% sure if the port is expected to be passed via `X-Forwarded-Host`.
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-Host

Did we properly support that edge-case before?

[2022-07-19 09:28] Ocramius commented on #111
It depends if the upstream webserver is something like `nginx`, `Caddy` or `apache2`: all of those are very popular, and de-facto standards (regardless of what Mozilla says)

[2022-07-28 18:58] weierophinney commented on #57
My recommendation:

- We create a separate "ImageStream" implementation that works with GD resources.
- We update `StreamFactory::createFromResource()` to detect if the resource is a GD resource, and, if so, return an `ImageStream` implementation.
- We deprecate usage of GD streams within the `Stream` class immediately, and, when PHP 8.0 or above is detected, throw an exception immediately that in

[2022-08-02 13:39] triopsi commented on #107
Thanks @Ocramius
Your solution is ok and I can work with it :) Thanks

[2022-08-02 13:39] #107 closed, assigned to nobody

[2022-08-03 18:50] #4 closed

[2022-08-11 18:18] alamagus commented on #28
It's better to delegate transfer of static files to web server. For example, via [XSendfile](https://www.nginx.com/resources/wiki/start/topics/examples/xsendfile/) in case of nginx

[2022-08-11 18:44] gsteel commented on #28
I'm not in favour of this addition - If you're in a position where you need to stream image responses via PHP, then it's not much more bother to either implement your own responses, or manipulate a vanilla PSR-7 response.

Most of the existing concrete response classes cover the usual suspects such as html/xml/json - if we start adding image responses, do we stop at jpg/gif/png or start dragging i

[2022-08-11 18:44] #28 closed

[2022-09-11 16:20] uuf6429 commented on #111
I just got this exact same problem when using [local-ssl-proxy](https://www.npmjs.com/package/local-ssl-proxy) in my dev env (it sends the port as part of XFH header).

This should work as a temporary fix:
[code]

[2022-10-04 16:52] dereuromark opened #117 "[RFC]: Allow better constraint handling for PHP"
## RFC

### Goal

Set PHP constraint to normal industry default and recommended setting

### Background
Right now CI for many projects and libraries is blocked due to this library:

[code]

I also dont see any beta branch to checkout instead to allow CI to check early on if there are any issues with 8.2 RC currently.

### Proposal(s)

Set PHP constraint to normal industry default and recommended s

[2022-10-04 17:08] Ocramius commented on #117
## Dependency ranges **CANNOT** be un-bounded

Even if PHP were to follow SemVer, a constraint that only defines a lower bound via `>=` is a clear mistake, as it will cause issues when dependencies are updated in many years to come (on PHP 9, 10, etc.).

In practice, a `composer update` on a future system running PHP 10 may install `laminas/laminas-diactoros:2.18.0` (assuming we'd relax the range

[2022-10-04 17:08] #117 closed, assigned to Ocramius

[2022-10-04 17:22] weierophinney commented on #117
@dereuromark Another way of putting this is: we cannot say that the component runs on a new minor or major version of PHP without first proving it passes tests. Having our constraints more strict ensures that we deliberately bump the constraints for new PHP versions via a patch in order to verify that tests pass in our CI.

This actually protects _you_ the consumer.

In the past, when we had more

[2022-11-14 03:41] markstory opened #122 "Could ServerRequestFactory::marshallUriFromSapi() be made public?"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | yes

#### Summary

:wave: from your friends at the CakePHP project, we've been longtime users of diactoros :bow: We recently learned of the plans to deprecate and remove `marshalUriFromSapi` and eventually remove it.

https://github.com/laminas/laminas-diactoros/blob/e5b6419fea00

[2022-11-14 03:46] Ocramius commented on #122
Depends on the use-case: it would need to be extracted from `ServerRequestFactory`, IMO.

Wouldn't using this work?

https://github.com/laminas/laminas-diactoros/blob/0b7d4e8ff6560e3a7f84d16283f2e12402f2bd78/src/ServerRequestFactory.php#L67

Can you build a request and then get the URI from there?

[2022-11-14 04:22] ADmad commented on #122
We build our own `ServerRequest` instance (using the various global functions Diactoros provides), so building Diactoros' `ServerRequest` instance just to get the `Uri` instance would be quite wasteful. All the parsing of PHP's global environment/request  variables is non trivial amount of code, so would like to avoid doing it twice.

[2022-11-14 10:48] Ocramius commented on #122
Well aware, it's just that the public API becomes much bigger there.

If somebody can send me a patch to try and extract `marshalUriFromSapi()` into a well documented `public` API on a new class that we test independently (and can deprecate separately, if needed in future), that would probably be the best way forward :)

[2022-11-22 05:55] Ocramius commented on #122
Handled in #123

[2022-11-22 05:55] #122 closed, assigned to markstory, Ocramius